body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
<<<<<<< HEAD
  padding: 30px;
=======
  padding: 20px;
>>>>>>> 7359356ab7362fec1932f916ff253fc67570ac18
  margin: 10px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
<<<<<<< HEAD
  margin-bottom: 50px;
=======
  margin-bottom: 40px;
>>>>>>> 7359356ab7362fec1932f916ff253fc67570ac18
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
<<<<<<< HEAD
  padding: 30px;
  margin-left: 340px;
=======
  padding: 20px;
  margin-left: 350px;
>>>>>>> 7359356ab7362fec1932f916ff253fc67570ac18
}